* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(rgba(136, 182, 136, 0.774), rgba(47, 87, 43, 0.815));
    display: flex;
   justify-content: center; 
   align-items: center;
    height: 100vh;
    font-size: 12px; 
    font-family: times new roman; 
    margin: 0; 
    padding: 0;
}

h1, p 
{ 
    text-align: center; 
    color: rgb(47, 87, 43);
    font-size: 40px;
    letter-spacing: 2px;
    font-family: cursive;
}

.guestbook{
    background-image: linear-gradient(rgba(136, 182, 136, 0.774), rgb(47, 87, 43));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
min-height: 250px;
}

form{
    text-align: center; 
    margin: 30px;
   
}

form input[type="text"]
{
    outline: none;
border: none; 
width: 100%;
opacity: 0.3;  
margin-top: 20px; 
margin-bottom: 15px;
padding: 7px 30px 7px 2px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userInputName:focus{
    border: 1px solid black;
}


textarea {
    border: none; 
    width: 100%;
    opacity: 0.3;
    resize: none; 
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
textarea:focus {
    border: 1px solid black;
}

.sendButton /*comment button*/
  {
  
    margin: 15px; 
    padding: 8px 28px; 
    text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.774), 0 0 25px rgba(255, 255, 255, 0.623), 0 0 5px rgba(255, 255, 255, 0.747);
    background-image: linear-gradient(rgba(136, 182, 136, 0.774), rgb(185, 218, 195));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    font-family: times new roman;
    font-size: 14px;
    cursor: pointer; 
    outline: none;
    }

.sendButton:focus
    {
      border: 1px solid black;
    }

.sendButton:hover 
{
margin: 15px; 
border: none; 
font-family: times new roman; 
cursor: pointer; 
text-decoration: underline;
}

li {
    list-style-type: none;
    margin-top: 10px;
    padding: 10px;
    opacity: 0.9;
    background-image: linear-gradient(rgba(136, 182, 136, 0.774), rgb(47, 87, 43));
    min-height: 80px;
    border: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  
}

.commentText{
    color: black;
    padding: 15px;

}
.commentName{
    color:black;
}

.comment{
    margin: 30px;
}

.info{
    text-align: center; 
}

span{
    margin: 10px;
    display: block; 
}