* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

body {
    background-color:rgb(119, 149, 190);
    display: flex;
   justify-content: center; 
   align-items: center;
    height: 100vh;
    font-size: 12px; 
    font-family: times new roman; 
    margin: 0; 
    padding: 0;
}

h1, p  
{ 
    text-align: center; 
    font-family: cursive;
    letter-spacing: 2px;
    font-size: 40px;
    color: rgb(27, 43, 95);
}

.guestbook{
    max-width: 500px;
    background-image: linear-gradient(rgb(79, 117, 175), rgba(27, 43, 95, 0.253));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
min-height: 500px;
}

form{
    text-align: center; 
    margin: 30px;
   
}

form input[type="text"]
{
    outline: none;
border: none; 
width: 100%;
opacity: 0.3;  
margin-top: 20px; 
margin-bottom: 15px;
padding: 7px 30px 7px 2px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.userInputName:focus{
    border: 1px solid black;
}


textarea {
    border: none; 
    width: 100%;
    opacity: 0.3;
    resize: none; 
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
textarea:focus {
    border: 1px solid black;
}

.sendButton /*comment button*/
  {
  
    margin: 15px; 
    padding: 10px 30px; 
    background-image: linear-gradient(rgb(114, 142, 185), rgba(27, 43, 95, 0.253));
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    font-family: times new roman;
    font-size: 14px;
    cursor: pointer; 
    border-radius: 36px;
    outline: none;
    }

.sendButton:focus
    {
      border: 1px solid black;
    }

.sendButton:hover 
{
margin: 15px; 
border: none; 
font-family: times new roman; 
cursor: pointer; 
border-radius: 36px;
text-decoration: underline;
}

li {
    list-style-type: none;
    margin: 15px;
    padding: 10px;
   opacity: 0.7;
    min-height: 80px;
}


.comment{
    margin: 30px;
}

.info{
    text-align: center; 
}

hr{
    margin: 10px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.title-comment {
    color: black;
    font-weight: bold;
    font-family: monospace;
}

.bio-comment{
    margin-top: 20px;
    font-size: 14px; 
    font-family: monospace;
    color: black;
    margin-bottom: 30px;
}